contourpy==1.2.0
cycler==0.12.1
fonttools==4.44.0
importlib-resources==6.1.1
joblib==1.3.2
kiwisolver==1.4.5
llvmlite==0.41.1
matplotlib==3.8.1
numba==0.58.1
numpy==1.26.2
packaging==23.2
Pillow==10.1.0
pyparsing==3.1.1
python-dateutil==2.8.2
scikit-datasets==0.2.4
scikit-learn==1.3.2
scipy==1.11.3
six==1.16.0
threadpoolctl==3.2.0
tqdm==4.66.1
zipp==3.17.0
